body {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
  background-attachment: fixed;
  position: relative;
}

.player-0,
.player-1 {
  background-color: rgb(248, 125, 146);

  border-radius: 10px;
  margin-top: 100px;
  padding: 170px 140px;
  border: 2px solid red;
}

img {
  position: absolute;
  top: 120px;
  max-width: 120px;
  left: 700px;
}

.hidden {
  display: none;
}

.active-player {
  background-color: antiquewhite;
}

.winner {
  background-color: blueviolet;
}
.blur {
  filter: blur(8px);
}

.instruction-modal {
  position: absolute;
  background: white;
  border-radius: 5px;
  padding: 10px;
  top: 200px;
  left: 550px;
  z-index: 2;
}

.modal-content {
  position: relative;
  z-index: 3;
}

h1 {
  margin: 50px;
}

h1 .close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 2px 5px;
}

.overlay {
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
